
.nav{
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    display: var(--dflex);
    justify-content: space-between;
}
.nav_left{
    margin-top: 21px;
    margin-left: 58px;
}
.nav_right{
    margin-right: 37px;
    margin-top: 39.35px;
    display: var(--dflex);
}
.plogo{
    font-family: Lato;
  font-style:Regular;
    font-size: 36px;
  line-height: 43px;
  text-transform: uppercase;
}
.btn_login{
    padding: 8px 34px 9px 34px;
    background: var(--white);
    color: var(--white_grean);
    border-radius: var(--border_radius10);
    width: 126px;
    height: 39px;
    font-style: normal;
    font-weight: var(--font_weight400);
    font-size:var(--font_size18);
    line-height: 22px;
    border: var(--white);
    cursor: pointer;
    margin-right: 58px;

}
.btn_reg{
    padding: 8px 34px 9px 34px;
    background: var(--white_grean);
    color: var(--white);
    border-radius: var(--border_radius10);
    width: 126px;
    height: 39px;
    font-style: normal;
    font-weight: var(--font_weight400);
    font-size:var(--font_size18);
    line-height: 22px;
    border: var(--white);
    cursor: pointer;
}

@media  (max-width: 860px) {
    .nav_left {
        margin-top: 35px;
        margin-left: 30px;
    }
    .btn_login{
        margin-right: 40px;

    }
}
@media  (max-width:459px) {
    .nav_right{
        margin-left: 10px;
    }
    .btn_login, .btn_reg {
        width: 7rem;
        display: var(--dflex);
        justify-content: var(--center);
    }
    .btn_login{
        margin-bottom: 15px;
        margin-right: 10px;
        margin-left: 15px;
    }
    .btn_reg{
        margin-bottom: 15px;

    }
}
@media (max-width:393px) {
    .nav_left{
        margin-left: 10px;
    }
    .plogo{
        font-size: 20px;
    }
    .nav_right{
        max-width: 240px ;
        margin-top: 35px !important;
        margin-right: 0px;
    }
    .btn_login, .btn_reg{
        margin-right: 5px !important;
        width: 6rem !important;
    }
}
