.not_img{
    border-radius: 50%;
    max-width: 42px;
    max-height: 42px;
    margin-right: 11px;
}
.not_desc{
    font-family: var(--dm_sans);
    font-style: var(--normal_style);
    font-weight: var(--font_weight700);
    font-size: var(--font_size14);
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #1B2559 !important;
    }
.not_date{
    font-family: var(--dm_sans);
    font-style: var(--normal_style);
    font-weight: var(--font_weight500);
    font-size: var(--font_size12);
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #A3AED0;
}