@import url('http://fonts.googleapis.com/css?family=Lato:400,700');
@import url('http://fonts.googleapis.com/css?family=Inter:400,700');
html, body, #app, #app>div {
  height: 100%
}
body{
  background: rgba(255, 255, 255, 1);

}
.nav{
position: absolute;
z-index: 1;
top: 0;
left: 0;
right: 0;
}
.dflex{
  display: flex;
}
.djspacebetween{
  justify-content: space-between;
}
.fcenter{
  justify-content: center;
}
.fcol{
  flex-direction: column;
}
.plogo{
  font-family: Lato;
font-style:Regular;
  font-size: 36px;
line-height: 43px;
text-transform: uppercase;
}
.nav-left{
  margin-top: 21px;
  margin-left: 58px;
}
.mr{
margin-right: 18px !important;
padding: 17px 54px 16px 56px !important;

}
.btn-auth{
  background-color: Transparent;
  background-repeat:no-repeat;
  border: 1px solid #000000;
  font-family: Inter;
  font-weight: 400;
font-size: 24px;
margin-right: 34px;
padding: 17px 23px 16px 56px;
cursor: pointer;
}
.nav-right{
  margin-right: 46px;
  margin-top: 39.35px;
}
.btn{
  background: rgba(196, 196, 196, 1);
  padding: 17px 56px 16px 56px;

}
.left{
margin-left: 145px;

}
.con{
  margin-bottom: 150px;
}
.con > h3{
  width: 628px;
height: 164px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 58px;
color: #000000;
}
.con > h5{
  width: 442px;
height: 56px;


font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;

color: #000000;
}
.con > button{
  border: none;
  cursor: pointer;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;

color: #000000;
}
.right>img{

  width: 488px;
height: 100vh;
top: 0px;
}



.background {
  background-color: #BCBCBC;
position:absolute;
top: 0;
  padding: 0; 
  margin: 0;
  width: 488px;
  height: 100vh;
}
/*
.line1 {
  width: 112px;
  height: 47px;
  border-bottom: 1px solid red;
  -webkit-transform:
      translateY(-20px)
      translateX(5px)
      rotate(27deg); 
  position: absolute;

}
.line2 {
  width: 112px;
  height: 47px;
  border-bottom: 1px solid green;
  -webkit-transform:
      translateY(20px)
      translateX(5px)
      rotate(-26deg);
  position: absolute;
  top: -33px;
  left: -13px;
}*/