

@media (max-width:1570px){
    .d-left{
        width: 200px;
        align-items: center;
    }
    .up-left{
        display: none;
    }
    .umid-ch{
        width: 100%;
        justify-content: center;
    }
    .up-cont{
        padding-bottom: 0px !important;
    }
    .up {
       border: none;
    }
    
    .up-ic{
        margin-right: 10px;
    }
    .up-name >span{
        margin-right: 10px;
    }
    .umid-cont{
        width: 95%;
        padding-left: 5px !important;
    }
    .len-header {
        height: 130px;
    }

}
@media (max-width:1382px){
    .st-name{
        font-size: 12px;
    }
    .ear-es{
       width: 600px;
   }
   .dash-cont{
       margin-left: 220px;
   }
    .pselect{
       font-size: 16px;
   }
   .top-lessons{
       width: 480px;
   }
   .state-wrapper{
       width: 200px;
   }
    .d-left{
        position: fixed;
        height: 100%;
        }
        .candle{
            margin-left: 10px;
            margin-right: 10px;

        }
        .pr-cont {
            margin-left: 40px;
            margin-right: 40px;
        }
        .l-reserve{
            width: 30%;
        }
        .learn-cont{
            margin-left: 0;
        }
        .con > h3{
            font-size: 30px;
            height: auto;
        }
        .con > h5{
            font-size: 20px;
        }
    .len-header >h4,.len-details, .len-detail {
        margin-left: 6.5rem;
    }
    .lesson-cont, .comp-cont {
        max-width: 100%;
        max-height: 100%; 
        justify-content: center;
    }
    .com-titl{
        margin-left: 6rem;
    }
    .up-name{
        display: none;
    }
    .up-right >h5{
        font-size: 16px;
    }
    .lesson-prev {
        width: 460px !important;
    } 
    .cs-input, .les, .les-inputm .lesson-prev{
        width: 460px !important;
    }
    .les-input{
        padding-left: 0.5rem ;
    }
    .class-cont{
        margin-left: 15px;
        height: 80%;
    }
    .sub-cont{
        padding-right: 20px;
    }
}
@media (max-width:1100px){
   .lg-out{
    width:48% !important;
    padding: 0px;
    justify-content: center;
   }
    .dash-cont{
        margin-left: 110px;
        margin-right: 10px;
    }
    .notification{
        width: 350px;
    }
    .ear-es{
        max-width: 540px;
    }
    .feedres{
        flex-wrap: nowrap;
    }
    .top-lessons {
        width: 450px;
    }
    
    .payment-submit{
        margin-top: 60px;
    }
    .cont-checkbox{
        font-size: 16px;
    }
    .p-card-det{
        width: 100%;
        margin-right: 10px;
    }
    .s-wrapper{
        max-width: 100% !important;
    }
    .pay-header{
        font-size: 30px;
    }
    .payment-form,.payment-cont{
        margin-left: 50px;
    }
    .payment-left{
        width: 50%;
    }
    .con > h5{
        width: 90%;
        font-size: 20px;
    }
    .cont .left{
        width: 50%;
    }
    .con{
        max-width: 90%;
    margin-left: 10px;
    }
 
    .v-line {
        width: auto;
        height: 74px;
        position: absolute;
        top: 50px;
        border: 1px solid #BDBDD1;
        margin-left: 10px;
        transform: rotate(0deg);
    }
    .pr-cont {
        margin-left: 20px;
        margin-right: 20px;
    }
    .lesson-card, .complete-card{
        max-width: 50%;
    }
    .d-left{
        width: 100px !important;
    }
    .up-name{
        display: none;
    }
    .up-right >h5{
        font-size: 16px;
    }
   .cs-input, .les, .les-input .lesson-prev{
        width: 350px !important;
    }
    .les-input{
        padding-left: 0.5rem !important;
    }
    .lis{
        width: 42%;
    }
    .les-time{
        width: 100%;
    }
    .com-titl{
        margin-left: 0rem;
    }
    .len-header {
        height: 100px;
    }
    .len-header > h4{
        margin-top: 1rem;
    }
}
@media  (max-width: 920px) {
    
    .ear-es{
        width: 500px;
    }
    .notification{
        width: 350px;
    }
    .candle{
        margin-left: 10px;
        margin-right: 10px;
    }
    .da-b{
        flex-direction: column;
    }
    .top-lessons{
        width: 100%;
        margin-bottom: 15px;
    }
    .class-cont{
       display: none; 
    }
    .feedres{
        flex-direction: column;
    }
}
@media  (max-width: 860px) {
    .ear-es, .notification{
    width: 100%;
    max-width: 100%;
    margin-bottom: 15px;
    }
    .state-wrapper{
        width: 150px;
    }
    .im-chart{
        right: -40px;
        top: -20px;
    }
    .st-num{
        margin-left: 5px;
    }
    .im-graph{
        margin: 0;
    }
    .da-left >span{
        font-size: 20px;
        line-height: 20px;
    }
    .st-cash, .st-per{
        width: 40px;
        height: 40px;
        margin-left: 5px;
        margin-right: 0px;
    }
    .arr-circ{
        right: -20px;
    }
    .v-line{
        top: 14px !important;
    }
    .right >img{
        width: 430px;
    }
    .fback{
        width: auto;
    }
    .payment-cont{
        margin-right: 40px;
    }
    .payment-form ,.desc{
        margin-left: 20px;
    }
    .l-title{
        max-height: inherit;
        font-size: 30px;
    }
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
    .nav-left {
        margin-top: 35px;
        margin-left: 30px;
    }
    .im-auth {
        display: none;
    }
    .au-input > input{
        font-size: 16px;
    }
    .mr {
        margin-right: 40px;
    }
    .lesson-card, .complete-card{
        max-width: 650px;
    }

    .len-header >h4,.len-details, .len-detail {
        margin-left: 6.5rem;
    }
    .cs-input, .les, .les-input ,.lesson-prev{
        width: 300px !important;
    }

    .les-input{
        padding-left: 0.5rem !important;
    }
    .les-span{
        font-size: 16px !important;
    }
    .len-right {
        margin-right: 10px !important;
    }
    .btns-les >button {
        margin-top: 10px !important;
        margin-bottom: 80px;
    }
    .btns-les{
        justify-content: center !important;
        margin-right: 0;
        margin-top: 0;
    }

    .le-dr{
        width: 42% !important;
    }
    .les-time{
        width: 100%;
    }
    .mrr1{
        margin-right: 0px !important;
    }
    .add-sc, .btns-les>button{
        width: 100%;
    }
    .len-title{
        margin-bottom: 0px !important;
    }
    .len-title > span{
        margin-left: 1rem;
    }
    .cat{
        width: 50%;
    }
    .crs span{
        font-size: 16px !important;
    }
}
@media (max-width: 700px) {
   .dcont{
       width: 110%;
   }
   .state-wrapper{
       width: 130px;
   }
    .landing-h3{
        margin: 0;
        width: auto !important;
    }
    .st-cash, .st-per{
        display: none;
    }
    .st-na, .ds{
        flex-direction: column;
        margin-left: 10px;
    }
    
    .cont{
        margin-top: 0px;
        align-items: center;

    }
    .con>h5{
        margin: 0;
    }
    .payment-cont, .cont{
        flex-direction: column;
    }
    .cont .left{
        width: 90%;

    }
    .l-reserve{
        width: 100%;
    }
    .payment-form{
        margin-left: 0;
    }
    .payment-left{
        width: 100%;
    }
    .payment-form{
        width: 100%;
    }
    .card-details{
        flex-direction: column;
    }
    .br-none{
        width: 30%;
        margin-top: 15px;
    }
    .pr-cont{
        flex-direction: column-reverse;
        padding: 0 4rem;
    }
    .res-submit{
        width: 100%;
        max-width: 100%;
    }
    .lesson-card,.lesson-img {
        max-height: 200px;
    }
    .focl{
        flex-direction: column;
        align-items: center;
    }
    .len-left,.len-right {
        width: 90%;
    }
    .lesson-prev {
        width: 100% !important;
    }
    .cs-input{
        width: 100% !important;

    }
    .les-input{
        width: 100% !important;

    }
    
}
@media  (max-width:459px) {
    .lg-out{
        height: 100%;
        width: 10% !important;
    } 

    .pay, .cam {
        width: 110px;
    }
    .pay-img ,.cam-img{
        margin: 2px;
    }
    .dash-cont{
        width: 92%;
        margin: 10px;
    } 
    .pay-name{
        margin-left: 5px;
    }
    .da-left > span{
        font-size: 18px;
    }
    .state-wrapper {
        width: 46%;
      }
      .st{
          flex-wrap: wrap;
      }
      .ear-es{
          margin-bottom: 30px;
      }
      .notification{
          margin-bottom: 50px;
      }
      .state-wrapper{
          margin-bottom: 5px;
      }
      .li-sp{
          font-size: 20px;
      }
      .les-right{
          margin-right: 10px;
      }
    .dcont{
        width: 100%;
    }
    .candle{
        width: 30px;
        margin-left: 0px;
        margin-right: 5px;
    }
    .pay-name, .cam-name > span{
        font-size: 12px;
    }
    .cont .left{
        width: 100%;
    }

    .dbrwb{
        margin-bottom: 15px;
    }
    .right{
        margin-left: 30px;
    }
    .f-cont, .right >img{
        width: 300px;
    }
    .desc{
        width: 300px;
        margin-left: 16px;
    }
    .desc > span{
        font-size: 16px;
        max-width: 90%;
        display: block;
    }
    .faround{
        margin-top: 30px;
    }
    .left{
        margin-bottom: 50px;
        max-width: 300px;
        width: 300px;
    }
    .con > h3{
        font-size: 20px;
        line-height: 60px;
    }
    .con > h5{
        margin: 0;
        font-size: 16px;
        height: auto;
    }
    .con{
    max-width: 100%;
    margin-left: 10px;
    width: 100%;
    }
    .right
    {
        margin: 0;
    }
    .payment-cont{
        margin-left: 10px;
        margin-right: 10px;
    }
    .payment-submit{
        margin-top: 30px;
        height: 50px;
    }
    .pr-cont{
        padding: 0;
        margin-left:0px ;
        margin-right: 0px;
    }
    .learn-cont{
        margin: 0 10px;
        order: 1;
    }
    .l-reserve{
        width: 90%;
        margin: 0 10px;
    }
    .class-cont  {
        display: flex;
        margin-left: 15px;
        height: 80%;
        margin-bottom: 10px;
        align-items: center;
    }
    .comp-d{
        flex-direction: column;

    }
    .complete-date{
        width: 100% !important;
        margin-bottom: 0% !important;
    }
    .comp-cont > *:last-child{
        margin-bottom: 5rem;
    } 
    .mr{
        margin-right: 10px;
        margin-left: 15px;
    }
    .faround{
        width: 100%;
    }
    .nav-right{
        margin-left: 10px;
    }
    .btn-auth {
        width: 7rem;
        display: flex;
        justify-content: center;
    }
    .au-input, .lis{
        width: 350px;
    }
    .au-btn{
        width: 350px;
    }
    .dcont{
        position: relative;
    }
    .l-nav{
        position: fixed;
        width: 100%;
        height: 80px;
        bottom: 0;
    }
    .d-left{
        width: 100% !important;
        max-width: 100% !important;
        flex-direction: row !important;
        position: absolute;
    }
    .d-left >.up{
        display: none;
    }
    .d-left >.mid{
        flex-direction: row !important;
        width: 100%;
    }
    .umid-cont{
        display: flex;
        flex-direction: row !important;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        margin-bottom: 5px;
    }
    .up-name{
        display: none;
    }
    .umid-ch{
        width: -moz-fit-content;
        width: fit-content;

    }
    .len-header >h4, .len-details {
        margin-left: 1rem !important;
        margin-right: 1rem !important;

    }
    .btns-les >button {
        margin-top: 10px !important;
        margin-bottom: 80px;
    }
    .btns-les{
        justify-content: center !important;
        margin-right: 0;
        margin-top: 0;
    }
    .dt, .slc{
        flex-direction: column;
    }
    .lis{
        width: 100% !important;
    }
    .les-time{
        width: 100%;
    }
    .mrr1{
        margin-right: 0px !important;
    }
    .add-sc, .btns-les > button{
        width: 100% !important;
    }
    .len-title{
        margin-bottom: 0px !important;
    }
    .len-title > span{
        margin-left: 1rem;
    }
    .cat{
        width: 50%;
    }
    .crs span{
        font-size: 16px !important;
    }
    .len-header >h4, .len-details, .len-detail {
        margin-left: 1rem;
        margin-right: 1rem;

    }
    .im-c{
        align-items: self-end;
        height: 100%;
        padding-bottom: 10px;
    
    }
    .lg-out {
        height: 100%;
        width: 10% !important;
        height: 100% !important;
      }
      .card-title{
          line-height: 12px;
      }
}

@media (max-width:393px) {
    .faround {
    justify-content:center;
    margin-top: 2rem !important;
    }
    .nav-left{
        margin-left: 10px;
    }
    .au-input, .lis{
        width: 300px ;
    }
    .au-btn{
        width: 300px ;
    }
    .plogo{
        font-size: 20px;
    }
    .nav-left{
        margin-left: 5px !important;
    }
    .nav-right{
        max-width: 240px ;
        margin-top: 35px !important;
        margin-right: 0px;
    }
    .btn-auth{
        margin-right: 5px !important;
    width: 6rem !important;
    }
}
 @media screen and (max-width:290px){
    .faround {
        justify-content: flex-start;
        margin-left: 10px;
    }
    .au-input{
        width: 250px !important;
    }
    .au-btn{
        width: 250px !important;
    }
}

@media  screen and (max-height: 870px)  {
    .len-header{
        height: 100px;
    }
    .len-header >h4{
        margin-top: 30px;
    }

}

