* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media screen and (max-width:290px){
    .faround {
        justify-content: flex-start;
        margin-left: 10px;
    }
    .au-input{
        width: 250px !important;
    }
    .au-btn{
        width: 250px !important;
    }
}
@media (max-width:393px) {
    .faround {
    justify-content:center;
    margin-top: 2rem !important;
    }
    .nav-left{
        margin-left: 10px;
    }
    .au-input{
        width: 300px ;
    }
    .au-btn{
        width: 300px ;
    }
    .plogo{
        font-size: 20px;
    }
    .nav-left{
        margin-left: 5px !important;
    }
    .nav-right{
        max-width: 240px ;
        margin-top: 35px !important;
    }
    .btn-auth{
        margin-right: 5px !important;
    width: 6rem !important;
    }
    }
    @media  (max-width:445px) {
        .mr{
            margin-right: 10px;
            margin-left: 15px;
        }
        .faround{
            width: 100%;
        }
        .nav-right{
            margin-left: 10px;
        }
        .btn-auth {
            width: 7rem;
            display: flex;
            justify-content: center;
        }
        .au-input{
            width: 350px;
        }
        .au-btn{
            width: 350px;
        }
    }
    
@media  (max-width: 828px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
    .nav-left {
        margin-top: 35px;
        margin-left: 30px;
    }
    .im-auth {
        display: none;
    }
    .au-input > input{
        font-size: 16px;
    }
    .mr {
        margin-right: 40px;
    }
}

